#contact #hero{
    height: 0;
    margin-bottom: 0;

    #navigation-container{
        background-color: rgba(0,0,0,1)!important;
        background: linear-gradient(0deg, black, black);
    }
}
#contact .contact-cont{
    background-color: rgb(9, 78, 156);
    padding-top: 60px;
    padding-bottom: 40px;
    .content-small{
        width:80%;
        margin: 0 auto;
        * {
            color: white;
            font-size: 1.2em;
        }
        h1{
            text-align: left;
            font-family: 'Damion', cursive;
            font-size: 6em;
            margin-bottom: 30px;
            text-shadow: 2px 2px 2px #afafae;
        }
    }
}

#contact .contact-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media only screen and (max-width: 600px){
        flex-direction: column;
    }
    * {
        font-family: 'roboto', sans-serif;
    }
    .contact-left{
        flex: 1 0  50%;
        align-self: flex-start;
        > div {
            display: flex;
            align-items: center;
            margin-bottom: 20px;
            
            p{
                flex: 1 0 auto;
                font-size: 1.3rem;
                font-family: 'roboto', sans-serif;
                margin-left: 20px;
            }
            img{
                flex: 0 1 auto;
                align-self: flex-start;
            }
        }
        @media only screen and (max-width: 600px){
            margin-bottom: 30px;
        }
    }
    .contact-right{
        flex: 1 0 50%;
        display: flex;
        flex-direction: column;
        p{
            margin-bottom: 10px;
        }
        input, textarea, button{
            background: none;
            border: 1px solid white;
            padding:3px 5px ;
            margin-bottom: 10px;
            width: 80%;
            font-weight: 300;
            @media only screen and (max-width: 600px){
                width:100%;
            }
        &::placeholder{
            color: white;
            font-weight: 200;
        }    
        
        }
        input:focus, textarea:focus{
            &::placeholder{
                visibility: hidden;
        }
        }
        button{
            width:30%;

        }
        button:hover{
            background-color: white;
            color: rgb(9, 78, 156);
        }
        textarea{
            max-height: 100px;
        }
        

    }
}